{% extends "layout.twig" %}
{% block title %}
    Error 404 (Not found)
{% endblock %}
{% block body %}
    <div style="text-align: center">
    <h4>ERREUR 404</h4>
    <p>L'adresse demandée n'a pas été trouvée sur le serveur.</p>
    <a href="{{ path_for('index') }}">Index</a>
    </div>
{% endblock %}
