{% extends "layout.twig" %}
{% block title %}
    Error 404 (Not found)
{% endblock %}
{% block body %}
    <h1>ERREUR 404</h1>
    <br>
    <p>The request URL was not found on this server</p>
    <a href="{{ path_for('index') }}">back</a>
{% endblock %}