{% extends "layout.twig" %}
{% block title %}
    Error 404 (Not found)
{% endblock %}
{% block body %}
    <div style="text-align: center">
    <h4>ERREUR 404</h4>
    <p>L'URL demandé n'a pas été trouvé sur le serveur</p>
    <a href="{{ path_for('index') }}">index</a>
    </div>
{% endblock %}