{% extends "layout.twig" %}
{% import "macro.twig" as m %}

{% block body %}
    <div class="container-fluid text-center firstContainer" >
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    {% if errors %}
                        <div class="alert alert-danger firstContainer">
                            <div class="text">
                                {{ errors }}
                            </div>
                        </div>
                    {% endif %}
                    {% if valid %}
                        <div class="alert alert-success firstContainer">
                            <div class="text">
                                {{ valid }}
                            </div>
                        </div>
                    {% endif %}
                    <form role="form" action="" method="post">
                        <fieldset>
                            <div class="form-group">
                                <span class="label label-primary col-md-12 center-block info">Ajouter un Enfant</span>
                                <input class="form-control formWeb" placeholder="Nom Activité" name="intitule" type="text"  >
                                <label> Couleur dans le calendrier
                                    <select name="classname" class="selecter_3">
                                        <option name="class" value="red">rouge </option>
                                        <option name="class" value="orange">orange </option>
                                        <option name="class" value="blue">bleu </option>
                                        <option name="class" value="green">vert </option>
                                        <option name="class" value="yellow">jaune </option>
                                        <option name="class" value="pink">rose </option>
                                        <option name="class" value="purple">violet </option>
                                        <option name="class" value="chocolate">chocolat </option>
                                        <option name="class" value="brown">marron </option>
                                        <option name="class" value="gray">gris </option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-lg btn-success btn-block" type="submit">Envoyer</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
{% endblock %}


{% block footer %}
    <div id="footer" class="footer-copyright ">
        <i class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></i> Copyright 2017 Guillaume Desrumaux, Artru Thomas, Meziane Yanis, Herrenschmidt Felix, Billaud William
    </div>
{% endblock %}