{% extends "layout.twig" %}
{% import "macro.twig" as m %}

{% block title %}
    Page de d'import
{% endblock %}

{% block body %}
    <div class="container">
        <form  role="form" class="firstContainer" enctype="multipart/form-data" action="{{ path_for('importData.post') }}" method="post">
            {% if error %}
                <div class="alert alert-danger">
                    <div class="text">
                        {{ error }}
                    </div>
                </div>
            {% endif %}
            {% if valid %}
                <div class="alert alert-success">
                    <div class="text">
                        {{ valid }}
                    </div>
                </div>
            {% endif %}
            <fieldset>
                <div class="form-group">
                    <span class="label label-primary col-md-3 center-block info">Séléctionner le fichier</span>
                    <div class="col-md-4"></div><input class="btn btn-default formWeb col-md-4" type="file" name="data">
                    <div class="row"></div>
                    <div class="col-md-4"></div><input class="btn btn-default formWeb col-md-4 col-sm-12" type="submit" value="Importer">
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
