{% extends "layout.twig" %}
{% import "macro.twig" as m %}
{% block title %}
    Index
{% endblock %}

{% block body %}
    {{ include('navbar-admin.twig') }}
    <div class="container-fluid text-center firstContainer" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    {% if errors %}
                        <div class="alert alert-danger firstContainer">
                            <div class="text">
                                {{ errors }}
                            </div>
                        </div>
                    {% endif %}
                    {% if valid %}
                        <div class="alert alert-success firstContainer">
                            <div class="text">
                                {{ valid }}
                            </div>
                        </div>
                    {% endif %}
                    <form role="form" action="{{ path_for('add-user.post') }}" method="post">
                        <fieldset>
                            <div class="form-group">
                                <span class="label label-primary col-md-5 center-block info">Ajout Utilisateur</span>
                                <input class="form-control formWeb" placeholder="Nom" name="nom_rl" type="text" value="" required autofocus>
                                <input class="form-control formWeb" placeholder="Prenom" name="prenom_rl" type="text"  value="">
                                <input class="form-control formWeb" placeholder="E-mail" name="adresse_mail_rl" type="email" value="">
                                <input class="form-control formWeb" placeholder="Ville" name="ville" type="text" value="">
                                <input class="form-control formWeb" placeholder="Code Postal" name="code_postal" type="number" value="">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-lg btn-success btn-block" type="submit">Envoyer</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
{% endblock %}


{% block footer %}
    <div id="footer" class="footer-copyright ">
        <i class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></i> Copyright 2017 Guillaume Desrumaux, Artru Thomas, Meziane Yanis, Herrenschmidt Felix, Billaud William
    </div>
{% endblock %}