{% extends "layout.twig" %}
{% import "macro.twig" as m %}

{% block title %}
    Nouveau mot de passe
{% endblock %}

{% block body %}
    {{ parent() }}

    <form role="form" action="{{ path_for('recoverToken-admin.post',{'token':token} ) }}" method="post">
        <fieldset>
            <div class="form-group">
                <input class="form-control" placeholder="mot de passe" name="password" type="password" autofocus>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="confirmer mot de passe" name="confirmation" type="password"
                       autofocus>
            </div>
            <div class="form-group">
                <input class="btn btn-lg btn-success btn-block" type="submit" value="Envoyer">
            </div>
        </fieldset>
    </form>
    {% if statut == "motDePasseDifferent" %}
        <p>Les mots de passes saisie ne correspondent pas</p>
    {% elseif statut =="ok" %}
        <p>mot de passe modifié, rendez vous sur la page de connexion pour le modifier</p>
    {% elseif statut == "tokenAbsent" %}
        <p>token inexistant</p>
    {% endif %}
{% endblock %}