{% extends "layout.twig" %}
{% import "macro.twig" as m %}

{% block css %}
    {{ parent() }}
    {{ m.css('jis_calendar.css') }}
{% endblock %}

{% block script_footer %}
    {{ parent() }}
    {{ m.js('jis_calendar.js') }}
{% endblock %}

{% block body %}
    <div id="my-calendar"></div>
{% endblock %}