{% extends "layout.twig" %}
{% import "macro.twig" as m %}

{% block css %}
    {{ parent() }}
    {{ m.css("style.css") }}
{% endblock %}

{% block title %}
    Page de d'import
{% endblock %}

{% block body %}
    {{ include('navbar-admin.twig') }}
    <form  class="firstContainer" enctype="multipart/form-data" action="{{ path_for('importData.post') }}" method="post">
            Sélectionnez le fichier à importer<br>
            <input type="file" name="data">
            <input type="submit" value="Importer">
    </form>
{% endblock %}
