{% extends "layout.twig" %}

{% block body %}
    {# permet d'inclure la navabar #}
    {{ include('navbar.twig') }}

    <h1 class="radio">Bonjour {{ nom|capitalize }}</h1>
    {# permet de créer un lien vers une page salut avec comme parametre de nom bob ( nom de la routes dans routes.php #}
    <li><a href="{{ path_for('salut',{'nom':'bob'}) }}">Bonjour bob!</a></li>
{% endblock %}